@use '../../../assest/mixin/style.module.scss' as m;
.form_container {
  margin: 0 auto;
  width: 1366px;
  height: 441px;

  border: 1px solid #db66e4;
  border-radius: 15px;
  .container {
    // @include m.dcenter();
    // flex-direction: column;
    margin: 24px;

    .header {
      .header_h3 {
        @include m.maintext(600, 2em, 36px);
      }
    }

    .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 320px;
      grid-row-gap: 40px;
      margin: 24px 0 24px;

      .content_text {
        .content_text__h3 {
          @include m.maintext(600, 1.5em, 36px);
          margin-bottom: 15px;
        }
        .content_text__input {
          width: 499px;
          height: 60px;

          background: #ffffff;
          box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.05);
          border-radius: 10px;
          border: none;
        }
      }
    }
    .button {
      @include m.dcenter();
      .btn {
        width: 499px;
        height: 59px;

        background: #db66e4;
        /* colors/violet main color */

        border: 1px solid #c192ee;
        border-radius: 15px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;

        color: #fbfbfb;
      }
    }
  }
}
