.second_container {
  display: flex;
  justify-content: center;

  .second {
    display: flex;
    flex-direction: column;
    align-items: center;
    //  justify-content: center;

    .second_button {
      margin-top: 80px;
    }

    p {
      margin-top: 80px;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;

      color: #000000;

      a {
        text-decoration: none;
        color: #7f3a85;
      }
    }
  }
}
