.loginUser_container {
  display: flex;
  .loginUser {
    margin-top: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .loginUser_input {
      input {
        margin-bottom: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .loginUser_button {
      margin-top: 80px;
      margin-bottom: 80px;
    }
    .loginUser_text {
    }
  }
}
