.first_container {
  display: flex;
  .first {
    margin-top: 130px;
    .first_text {
      // margin-top: 40px;
      input {
        border-radius: 100%;
        background-color: #7f3a85;
        color: #7f3a85;
        border: none;
        width: 30px;
        height: 30px;
      }
    }
    .first_item {
      cursor: pointer;
      margin-bottom: 20px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      /* identical to box height */

      color: #6d6d6d;
      .input_small {
        margin-right: 10px;
        width: 365px;
        height: 60px;

        :hover {
          // background-color: #d565de;
        }
      }
      .input_big {
        width: 740px;
        height: 60px;
      }

      input {
        box-sizing: border-box;
        text-align: center;
        border: 1px solid #6d6d6d;
        border-radius: 10px;
        background: transparent;
      }
    }
  }
}
